.featured-book {
  margin: 0.5rem 3rem 1.4rem 0;
  width: fit-content;
}
.featured-image img {
  width: 140px;
  height: 200px;
  border-radius: 10px;
  border: none;
}
.featured-book:hover {
  cursor: pointer;
}

@media (max-width: 768px) {
  .featured-book {
    margin: 0;
    padding: 1rem 0.5rem;
  }
  .featured-image img {
    width: 112px;
    height: 160px;
  }
}