.searched-book-container {
  margin: 3rem 0;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: flex-start;
}
.searched-book-image {
  width: fit-content;
  margin-right: 2rem;
}
.searched-book-image img {
  width: 120px;
  height: 160px;
  border-radius: 5%;
}
.searched-book-info {
  width: 100%;
}
.searched-book-info h2 {
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 22px;
}
.searched-book-info h3 {
  font-size: 14px;
  letter-spacing: 0;
  line-height: 17px;
}
.searched-book-info p {
  padding-right: 2rem;
}
.searched-book-link {
  color: #000000;
  padding: 0;
  margin: 1rem 0;
}
.searched-book-link:hover {
  color: #000000;
  text-decoration: none;
}
.book-details-btn {
  height: auto;
  width: auto;
  padding: 0.2rem 1rem 0.2rem 1rem;
  border-radius: 30.5px;
  background-color: #FFFFFF;
  border: solid #000000 1px;
  color: #000000;
  font-family: "Open Sans";
  font-size: 14px;
  letter-spacing: 0;
  margin-right: 1rem;
}
.book-details-btn:hover {
  background-color: #000000;
  color: #FFFFFF;
  border: solid #FFFFFF 1px;
}

@media (max-width: 578px) {
  .searched-book-container {
    margin: 2rem 0;
    flex-wrap: wrap;
  }
  .searched-book-image img {
    width: 112px;
    height: 160px;
    border-radius: 5%;
  }
  .searched-book-info {
    margin-top: 1rem;
  }
  .searched-book-info p {
    padding-right: 0;
  }
}