.save-button {
  max-height: 30px;
  width: fit-content;
  padding: 0.2rem 1rem 0.2rem 1rem;
  border-radius: 30.5px;
  background-color: #FFFFFF;
  border: solid #ED696A 1px;
  color: #ED696A;
  font-family: "Open Sans";
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 0;
}
.save-button:hover {
  background-color: #ED696A;
  color: #FFFFFF;
}