.savedpage {
  padding: 3rem 4rem;
  max-width: 1200px;
  height: 100vh;
  margin: auto;
  background-color: #f7f3f2;
  background-color: #FFFFFF;
}
.savedpage h1 {
  color: #222222;
  font-family: "Playfair Display";
  font-size: 36px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 48px;
  margin-left: 1rem;
}
.saved-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.saved-header input {
  border: none;
  width: 600px;
}
.saved-header input:hover {
  border-bottom: 1px solid black;
}
.saved-header input:focus {
  outline: none;
  border-bottom: 1px solid black;
}
.saved-header input[type="text"] {
  color: #222222;
  font-family: "Playfair Display";
  font-size: 36px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 48px;
  margin-left: 1rem;
}
.saved-header button {
  height: 40px;
  width: 160px;
  border-radius: 30.5px;
  background-color: #FFFFFF;
  border: 2px solid #000000;
  color: #000000;
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0;
}
.saved-header button:hover {
  border: 2px solid #ED696A;
  color: #ED696A
}
.saved-header button:focus {
  outline-color: transparent;
  outline-style: none;
}
.share-link {
  margin: 2rem 0 0 0;
  padding: 0 0 0 1rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
  border-radius: 10px;
}
.share-link input {
  border: none;
  width: 100%;
}
.share-link input[type="text"] {
  font-family: "Open Sans";
  font-size: 18px;
  padding: 0.5rem;
}
.share-link input:focus {
  outline: none;
}
.share-link button {
  height: 100%;
  width: 160px;
  border-radius: 30.5px;
  background-color: #FFFFFF;
  /* border: 2px solid #000000; */
  border: none;
  color: #000000;
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0;
  margin: auto 0;
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 2rem 0 4rem 0;
}
.loading-view {
  width: 100%;
  height: 100vh;
  text-align: center;
  padding: 8rem 0 0 0;
}


@media (max-width: 800px) {
  .savedpage h1 {
    text-align: center;
    margin-left: 0;
  }
  .flex-container {
    justify-content: center;
  }
}

@media (max-width: 578px) {
  .savedpage {
    padding: 2rem 1rem;
  }
}