.topbook {
  width: 100%;
  height: auto;
  margin: 0.5rem 0;
}
.topbook-link {
  display: flex;
  flex-direction: row;
  color: #000000;
  padding: 0;
  margin: 0.5rem 0;
}
.topbook-link:hover {
  color: #000000;
  text-decoration: none;
}
.topbook-image img {
  width: 140px;
  height: 200px;
  border-radius: 10px;
  border: none;
  margin-bottom: 0.5rem;
}
.topbook:hover {
  cursor: pointer;
}
.topbook-info {
  padding: 0 1rem 1rem 2rem;
  width: 100%;
  text-align: left;
  color: #333333;
  font-family: "Montserrat";
  letter-spacing: 0;
}
.topbook-info h5{
  margin: 0;
  padding: 0;
  font-size: 20px;
  font-weight: 500;
}
.topbook-info h6 {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 300;
}
.topbook-info p {
  color: #666666;
  font-family: Lato;
  font-size: 15px;
  letter-spacing: 0;
  line-height: 17px;
  margin-top: 1rem;
}

@media (max-width: 1000px) {
  .topbook-link {
    flex-direction: row;
    height: auto;
    margin-bottom: 2rem; 
  }
  .topbook-image img {
    margin-left: 0;
    width: 112px;
    height: 160px;
  }
}

@media (max-width: 578px) {
  .topbook {
    margin: 1rem 0;
  }
  .topbook-link {
    flex-direction: column;
    height: auto;
    margin-bottom: 2rem; 
  }
  .topbook-image {
    width: fit-content;
    margin: auto;
  }
  .topbook-image img {
    margin: auto;
  }
  .topbook-info {
    padding: 1rem 0;
  }
}


  
