.home-page {
  height: 100%;
  justify-content: center;
  padding-bottom: 200px;
}
.hero-container {
  padding: 170px 4rem 240px 4rem;
}
.headline {
  height: 106px;
  margin-bottom: 2rem;
  width: auto;
  color: #222222;
  font-family: "Playfair Display";
  font-size: 52px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 53px;
  text-align: center;
}
.main-content-container {
  margin: auto;
  max-width: 1130px;
  padding: 0 3rem;
}
.main-content-container h2 {
  width: 100%;
  padding: 1rem 1rem 1.5rem 0;
  margin: 0;
  color: #222222;
  font-family: "Playfair Display";
  font-size: 36px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 36px;
}
.highlighted-books {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}
.featured-container {
  width: 55%;
}
.featured-header h2 {
  padding: 1rem 1rem 1.5rem 0;
  line-height: 36px;
}
.featured-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.topbooks-container {
  width: 45%;
  height: fit-content;
  padding: 0.5rem 2rem 1rem 2rem;
  background-color: #FFF3ED;
  border-radius: 10px;
}
.nyt-container-first {
  margin-top: 100px;
  text-align: center;
}
.nyt-container-second {
  margin-top: 50px;
  text-align: center;
}
.nyt-container-first h2, .nyt-container-second h2 {
  margin-bottom: 2rem;
}
.nyt-header button {
  background-color: #FFFFFF;
  padding: 0.3rem;
  border: none;
  font-family: Montserrat;
  font-size: 16px;
  display: inline-end;
  position: relative;
  float: right;
  margin-right: 4rem;
  margin-top: 2rem;
}
.nyt-results {
  padding: 0rem 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}
.search-container {
  max-width: 900px;
  margin: auto;  
}
.search-container h1 {
  font-family: "Playfair Display";
  font-size: 36px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 48px;
}

@media (max-width: 1200px) {
  .main-content-container {
    padding: 0 5rem;
  }
}

@media (max-width: 1000px) {
  .featured-container {
    width: 100%;
    padding: 0 1.6rem 2rem 1.6rem;
    margin: auto;
  }
  .featured-header {
    text-align: center;
  }
  .featured-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .featured-book {
    margin: 0;
  }
  .topbooks-container {
    width: 100%;
    margin: auto;
    padding: 1rem 2rem 1rem 2rem;
    border-radius: 10px;
  }
  .topbooks-container h2 {
    padding: 1rem 0 2rem 0;
  }
} 

@media (max-width: 578px) {
  .hero-container {
    padding: 4rem 0 2rem 0;
  }
  .headline {
    font-size: 36px;
    padding: 0 2rem;
  }
  .main-content-container {
    padding: 0.5rem;
  }
  .main-content-container h2 {
    padding: 1rem 0.2rem;
  }
  .featured-header h2 {
    padding: 1.5rem 0;
  }
  .topbooks-container h2 {
    text-align: center;
  }
  .nyt-container-first {
    margin-top: 50px;
  }
}




