.sharedpage {
  padding: 4rem 4rem 8rem 4rem;
  max-width: 1200px;
  height: 100vh;
  margin: auto;
  background-color: #f7f3f2;
  background-color: #FFFFFF;
  text-align: center;
}
.sharedpage h1 {
  color: #222222;
  font-family: "Playfair Display";
  font-size: 36px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 48px;
}
.exploreBtn button{  
  height: 50px;
  width: fit-content;
  padding: 0 2rem;
  border-radius: 30.5px;
  background-color: #ED696A;
  border: 2px solid #ED696A;
  color: #FFFFFF;
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0;
}
.exploreBtn button:hover {
  background-color: transparent;
  color: #ED696A;
}


.flex-container__shared {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2rem 0 4rem 0;
}

@media (max-width: 800px) {
  .savedpage h1 {
    text-align: center;
    margin-left: 0;
  }
}

@media (max-width: 578px) {
  .sharedpage {
    padding: 2rem 1rem;
  }
}